/* google font */
.montserrat-h3-1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}


/* header styles area */ 
.container-1 {
  display: flex;
  justify-content: space-between;
}
.mission {
     color: #FFAD5A;
}

.img-1 {
  max-width: 390px;
  height: 490px;
}

/* main section styles area */

.section-1-div-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 50px;
}

/* section 2 */

.section-2-div-container {
  display: flex;
  gap: 30px;
  /* justify-content: space-around; */

}
/* .section-2-div-1{
  max-width: 700px;
  height: auto;
} */
 .section-2-div-1 {
  max-width: 400px;
  height: auto;
 }

/* section 4 */
.section-4-div-container{
  justify-content: space-between;
}
/* .section-4-div-2 {
  pa
} */

/* layuot styles area */

/* @media screen and (max-width: 570px){
  .section-1-div-container {
  flex-direction: column;
  text-align: center;
  gap: 20px;
  margin-top: 20px;
}
} */